<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-sm-center">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-0">

                <!-- Content -->
                <div class="container d-flex align-items-center justify-content-center text-black">
                    <img src="../../assets/img/sem fundo - branco.png" alt="" class="logo">
                    <h5>Projeto Lumens</h5>
                </div>
                

            </div>
            <!-- Grid column -->

          

            <!-- Grid column -->
            <div class="col-md-4 mt-md-2 text-md-start">
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Sobre</a>
                    </li>
                    <li>
                        <a href="https://brazil.generation.org/" target="_blank">Generation Brasil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        lumens.projeto.pi@gmail.com
                    </li>
                </ul>
            </div>

            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3 mt-2">

                <!-- Links -->
                <h6 class="text-uppercase">Siga-nos nas redes sociais</h6>


                <ul class="social-network">
                    <li>
                        <a href="https://github.com/projetolumens" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://discord.gg/u28aXtf9" target="_blank">
                            <i class="fa-brands fa-discord"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/projetolumens/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>

                </ul>


                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>

    </div>





    <!--copyright-->
    <div class="footer-copyright text-center py-3">
        <span class="text-light"> © 2022 Copyright: Generation Brasil </span>

    </div>
</footer>