footer {
    background-color: #8Eb897!important;
}


ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.bi {
    font-size: 30pt;
    color: white;
    padding: 10px;
}

.bi-github:hover {
    color: black;
}

.bi-instagram:hover {
    color: #C13584;
}

.bi-discord:hover {
    color: #7289d9;
}

.footer-copyright {
    background-color: #5B7553!important;
}