footer {
    background-color: #00000093!important;
}


ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}
.fa-brands{
    font-size: 35pt;
    color: aliceblue;
    padding: 10px;
}
.fa-instagram:hover{
    color: #C13584;
}
.fa-github:hover{
    color: black;
}

.fa-discord:hover{
    color:#6e82d1;
}

.bg-footer{
    background-color: #523d83 ;
}

.bg-copyright {
    background-color: #0000009f!important;
}