@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Open+Sans+Condensed:wght@300&display=swap%27');


.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ffc107;
    border: 1px solid transparent;
    border-radius: .25rem;
    content: icon;
}


.bg{
    background-image: url(../../../assets/img/p07w0fnd.jpg);
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 50px;
    left: 0;
    top: 0; 
    right: 0; 
    overflow: auto;
    position: relative; 

}
.container-fluid{
    justify-content: center;
    align-items: center;

}

.d-flex {

    justify-content: center;
}
.m-20{
    margin-left: 20px;
    background-color:#f7f7f31a;
    color: rgba(252, 252, 252, 0.808);
    border: none;

}

.btn:hover{
    background-color: #226f3fbb;
    color: rgb(255, 255, 255);
    border: none;
}
.box{

    box-sizing: border-box;
    box-shadow: 15px 15px 48px #070707bb;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
    border-right: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(8px);


}

input{
    font-size: 15px;
}

select{
    font-size: 15px;
}
.font{
    font-family:'Dosis', sans-serif ;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.801);

}
.button-cc:hover{
    background-color: #eeff00c2;
    border: none;
 
}

.font-login{
   color: rgba(245, 245, 245, 0.801);
    font-family:'Dosis', sans-serif ;
    font-size: 30pt;
    display: flex;
    align-items: center;
    justify-content: center;
}