<nav class="navbar navbar-expand-lg navbar-white bg-dark link-warning">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#">
              <img src="https://cdn.discordapp.com/attachments/912136460294041681/945314125452562452/branco_com_controno.png" alt="" width="30" height="24">
            </a>
          </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link " href="#">Tecnologias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Equipe</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="#">Contato</a>
          </li>
        <form class="d-flex">
          <input class="form-control me-5" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          <button class="btn btn-outline-warning " type="submit">Pesquisar</button>
        </form>
          <li class="nav-item">
            <a class="nav-link " href="#">Login | Cadastrar</a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>