@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: rgba(255, 255, 255, 0.801);
}

body, html {
	height: 100%;
}



/* NOSSO TIME */

/* responsividade */
.wrap {
  flex-wrap: wrap;
}

.Membro1 {
  position       : relative;
  width          : 210px;
  height         : 230px;
  background     : url("https://i.imgur.com/KDRBJFh.jpeg");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;
  position       : relative;

}

.Membro2 {
  position       : relative;
  width          : 210px;
  height         : 230px;
  background     : url("https://i.imgur.com/3Ui8aNv.png");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;
}

.Membro3 {
  position       : relative;
  width          : 210px;
  height         : 230px;
  background     : url("https://i.imgur.com/ihE0FHt.png");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;
}

.Membro4 {
  position       : relative;
  width          : 210px;
  height         : 230px;
  background     : url("https://i.imgur.com/wk1QM5a.jpeg");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;
}

.Membro5 {
  position       : relative;
  width          : 210px;
  height         : 230px;
  background     : url("https://i.imgur.com/5vIK4Ot.jpeg");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;

}

/* escurece o card  */
.overlay {
  width        : 100%;
  height       : 100%;
  background   : rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor       : pointer;
  opacity      : 0;
  transition   : all 1s;
  border-radius: 10px;

}

.Membro1:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

.Membro2:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

.Membro3:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

.Membro4:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

.Membro5:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

/* opacidade do escurecer de cada card */
.Membro1:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  position        : center;
  width          : 210px;
  height         : 230px;
  background-size : cover;
  border          : 12px;
}

.Membro2:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  position        : center;
  width          : 210px;
  height         : 230px;
  background-size : cover;
  border          : 12px;
}

.Membro3:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  position        : center;
  width          : 210px;
  height         : 230px;
  background-size : cover;
  border          : 12px;
}

.Membro4:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  position        : center;
  width          : 210px;
  height         : 230px;
  background-size : cover;
  border          : 12px;
}

.Membro5:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  position        : center;
  width          : 210px;
  height         : 230px;
  background-size : cover;
  border          : 12px;
}


/* icones dentro do card */
.tm-social li a {
  width          : 25px;
  height         : 25px;
  border         : 1px solid #fffffffa;
  padding        : 20px;
  margin-right   : 10px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  color          : #fff;
  border-radius  : 5px;
  transition     : all 1s;
}




/* icones posição dentro do card */
.tm-social {
  display        : flex;
  list-style     : none;
  bottom         : 10px;
  position       : absolute;
  text-align     : center;
  justify-content: center;
  left           : 44px;

}

/* titulo nome do card */
.overlay .about {
  position       : relative;
  justify-content: center;
  align-items    : center;
  display        : flex;
  top            : 40%;
  color          : #ffffff;
  flex           : column;
  font-weight    : bold;
  text-shadow    : 3px 3px rgb(0, 0, 0);
}

/* titulo equipe */
.text-equipe {
  color      : #ffffff;
  font-weight: bold;
  font-size: 35pt;
  text-shadow: 3px 3px black;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/*Placeholder*/
input::-webkit-input-placeholder { color: rgba(255,255,255,0.8); font-size: 14pt; font-family: 'Quicksand', sans-serif;}
input:-moz-placeholder { color: rgba(255,255,255,0.8); font-size: 14pt; font-family: 'Quicksand', sans-serif;}
input::-moz-placeholder { color: rgba(255,255,255,0.8); font-size: 14pt; font-family: 'Quicksand', sans-serif;}
input:-ms-input-placeholder { color: rgba(255,255,255,0.8); font-size: 14pt; font-family: 'Quicksand', sans-serif;}

textarea::-webkit-input-placeholder { color: rgba(255,255,255,0.8); font-size: 14pt; font-family: 'Quicksand', sans-serif;}
textarea:-moz-placeholder { color: rgba(255,255,255,0.8); font-size: 14pt; font-family: 'Quicksand', sans-serif;}
textarea::-moz-placeholder { color: rgba(255,255,255,0.8); font-size: 14pt; font-family: 'Quicksand', sans-serif;}
textarea:-ms-input-placeholder { color: rgba(255,255,255,0.8); font-size: 14pt; font-family: 'Quicksand', sans-serif;} 
/*Placeholder - fim*/


/*Texto de alerta*/
small {
  font-size: 12pt;
  color: red!important;
  font-weight: bold;
}
/*Texto de alerta - fim*/


.bg-contact3 {
  width: 100%;
  background-image: url(../../assets/img/p07w0fnd.jpg); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact3 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
  
}

.wrap-contact3 {
  width: 500px;
  box-sizing: border-box;
  box-shadow: 15px 15px 48px #070707bb;
  border-top: 1px solid rgba(0, 0, 0, 0.158);
  border-right: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 65px 55px;
}


.contact3-form {
  width: 100%;
}

.contact3-form-title {
  display: block;
  font-size: 35px;
  color: white;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 70px;
}

.wrap-input3 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 27px;
}

.input3 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input3 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input3::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}


input.input3 {
  height: 45px;
}


textarea.input3 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}


.input3:focus + .focus-input3::before {
  width: 100%;
}

.has-val.input3 + .focus-input3::before {
  width: 100%;
}

/*botão*/
.contact3-form-btn {
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  min-width: 120px;
  height: 50px;
  border-radius: 2px;
  position: relative;
  z-index: 1;
 

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact3-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fede27;
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact3-form-btn:hover {
  color: black;
  background: #fede27;
  cursor: pointer;
}
/*botão - fim*/

.voltar {
  font-size: 18pt;
  
}