a:link {
  color: #fede27;
}

body {
  background     : url("../../assets/img/p07w0fnd.jpg") center / cover no-repeat;
  height         : auto;
  margin         : 0;
  display        : flex;
  justify-content: center;
}

.menu-bar {
  border-radius          : 25px;
  height                 : -webkit-fit-content;
  height                 : -moz-fit-content;
  height                 : fit-content;
  display                : inline-flex;
  background-color       : rgba(0, 0, 5, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter        : blur(10px);
  align-items            : center;
  padding                : 0 5px;
  margin                 : 0;

}



.menu-bar li {
  list-style : none;
  color      : black;
  padding    : 6px 8px;
  margin     : 0 4px;
  position   : relative;
  cursor     : pointer;
  white-space: nowrap;

}

.menu-bar li::before {
  content      : " ";
  position     : absolute;
  top          : 0;
  left         : 0;
  height       : 100%;
  width        : 100%;
  z-index      : -1;
  transition   : 0.2s;
  border-radius: 25px;
}

.menu-bar li:hover {
  color: black;
}

.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #e8eb27c4, #b8b214);
  box-shadow: 0px 3px 20px 0px black;
  transform : scale(1.2);
}


a {
  color          : rgba(0, 0, 0, 0.925) !important;
  font-size      : 12pt;
  text-decoration: none;
  font-weight    : bold;
}

a:hover {
  color: black !important;
}

.bg-drop {
  background-color: #e8eb2785;
  margin-left     : 230px;
  border-radius   : 25px;
}

.txt-drop:hover {
  color: black !important;
}


.bg{
background-color: #fede2709;
}

.bg-lumens {
  background-color: rgba(0, 0, 0, 0.452);
}



.fundo0{
 
  background-color: rgb(17, 17, 17);   
}

.linhas-img{
  border-radius: 25px;
}

/*cards dicas PRONTO*/

.card-title {
  font-weight: bold;
  text-align : center;
  color      : #fff;
}

.card-img-top {
  width: 75px !important;
}

.card {
 

  margin-right : 5px;
  box-sizing   : border-box;
  border-radius: 10px;
  display      : flex;
  align-items  : center;
  margin       : 25px 0px;
  flex-wrap    : wrap;

}

.card-text {
  text-align: center;
  color     : rgb(0, 0, 0);
}

.text-config {
  color          : rgb(0, 0, 0);
  font-weight    : bold;
  justify-content: center;
}

.card-group {
  margin-bottom: 42px;
}

/*cards dicas PRONTO*/






/* NOSSO TIME */

/* responsividade */
.wrap {
  flex-wrap: wrap;
}

.Membro1 {
  position       : relative;
  width          : 125px;
  height         : 135px;
  background     : url("https://i.imgur.com/KDRBJFh.jpeg");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;
  position       : relative;

}

.Membro2 {
  position       : relative;
  width          : 125px;
  height         : 135px;
  background     : url("https://i.imgur.com/3Ui8aNv.png");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;
}

.Membro3 {
  position       : relative;
  width          : 125px;
  height         : 135px;
  background     : url("https://i.imgur.com/ihE0FHt.png");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;
}

.Membro4 {
  position       : relative;
  width          : 125px;
  height         : 135px;
  background     : url("https://i.imgur.com/wk1QM5a.jpeg");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;
}

.Membro5 {
  position       : relative;
  width          : 125px;
  height         : 135px;
  background     : url("https://i.imgur.com/5vIK4Ot.jpeg");
  background-size: cover;
  cursor         : pointer;
  border         : 12px;
  border-radius  : 10px;
  margin-top     : 25px;

}

/* escurece o card  */
.overlay {
  width        : 100%;
  height       : 100%;
  background   : rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor       : pointer;
  opacity      : 0;
  transition   : all 1s;
  border-radius: 10px;

}

.Membro1:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

.Membro2:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

.Membro3:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

.Membro4:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

.Membro5:hover {
  opacity   : 1;
  transform : translateY(12px);
  transition: 0.5s;
}

/* opacidade do escurecer de cada card */
.Membro1:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  position        : center;
  width           : 125px;
  height          : 135px;
  background-size : cover;
  border          : 12px;
}

.Membro2:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  width           : 125px;
  height          : 135px;
  background-size : cover;
  border          : 12px;
}

.Membro3:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  position        : center;
  width           : 125px;
  height          : 135px;
  background-size : cover;
  border          : 12px;
}

.Membro4:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  position        : center;
  width           : 125px;
  height          : 135px;
  background-size : cover;
  border          : 12px;
}

.Membro5:hover .overlay {
  opacity         : 1;
  transition      : 0.5s;
  background-image: url(../../assets/img/11.png);
  position        : center;
  width           : 125px;
  height          : 135px;
  background-size : cover;
  border          : 12px;
}


/* icones dentro do card */
.tm-social li a {
  border    : 1px solid #fffffffa;
  color     : #fff;
  transition: all 1s;
  margin-left: 10px;
}


/* icones posição dentro do card */
.tm-social {
 
  display    : flex;
  list-style : none;
  align-items: flex-end;
}

/* titulo nome do card */
.overlay .about {
  position   : relative;
  display    : flex;
  color      : #ffffff;
  flex       : column;
  font-weight: bold;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

/* titulo equipe */
.text-equipe {
  color      : #000000c0;
  font-weight: bold;
}

/* bg da equipe */
#name-equipe {
  background-image: url(../../assets/img/linha-horizontal1.png);

  margin-bottom: 15px;
}