


<div class="container-fluid ">

  <div class="row d-flex justify-content-center">
    <div class="col-md-5">
      <div class="row d-flex justify-content-center">
        <h1 class="fs-50">Olá, nós somos Lumens!</h1>
        <h2 class="fs-24">o e-commerce que visa o desenvolvimento sustentável</h2>
      </div>
    </div>
    <div class="col-md-5 ">
      <img width="350px" src="../../assets/img/b1.png" alt="">
    </div>
  </div>


</div>
  <!-- carousel-->

  <!-- carousel-->




  <!-- informações de descarte e cashback-->
  <div class="container d-flex ">
    <div class="row mt-1">
      <div class="col-md-8">
        <h4>Como funciona o descarte</h4>
        <img width="50px" src="https://cdn.discordapp.com/attachments/945323144703512608/950470187512111194/3993631.png" alt="">
        <p style=" text-align: justify">Separe os produtos eletrônicos que deseja descartar de acordo com a <a href="link para
            carrousel com as categorias">categoria</a>. Não desmonte os produtos e, se o aparelho tiver bateria, não a
          remova. Você pode separar as pilhas comuns em uma sacola. Leve-os para o <a href="link para
            o mapa">posto de coleta mais próximo</a> ou <a href="link para form de coleta"> agende a coleta na sua
            casa</a>.
        </p>
      </div>
    </div>
      <div class="row">
      <div class="col-md-8 ml-5 ">
        <h4>Como funciona o cashback</h4>
        <img width="50px" src="https://cdn.discordapp.com/attachments/945323144703512608/950470187944144996/2601535.png" alt="">
        <p style=" text-align: justify">Ao realizar o descarte do seu lixo eletrônico nos pontos de coleta de nossas
          empresas parceiras ou através do
          agendamento da
          coleta domiciliar, você receberá um código para ser convertido em cashback, que poderá ser usado para comprar
          os produtos em nosso site.
        </p>

      </div>
    </div>
  </div>





  <!-- postagem de descarte-->
  <div class="container">
    <div class="row">
      <h1 style=" text-align: justify"> QUER DESCARTAR SEU LIXO ELETRÔNICO SEM PAGAR E COM CASHBACK?</h1>
      <br><br><br>
      <h4 style=" text-align: justify">fazemos a coleta do seu lixo eletrônico de forma segura, prática, sem quantidade mínima e totalmente gratuita.
        Basta nos enviar uma mensagem através desse formulário, escolher a data e o horário e ecopontos parceiros
        coletarão!
      </h4>
    </div>
    <div class="row">
    <!--*ngIf="logado()"  -->
      <h5  class="text-center">
        Qual produto você quer
        <button type="button" class="btn btn-warning" data-toggle='modal' data-target='#novaPostagem'>Descartar</button>
        ?
      </h5>
      <h4></h4>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <div class="form-group">
              <label for="titulo">Data para coleta</label>
              <input type="date" class="form-control" id="data">
            </div>

            <div class="form-group">
              <label for="endereco">Endereço</label>
              <input type="text" class="form-control" id="endereco">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text btn-info" for="inputGroupSelect01">Selecione periodo para
                  coleta</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                <option value="1">Manhã</option>
                <option value="2">Tarde</option>
                <option value="3">Horario comercial</option>
              </select>
            </div>

            <div class="form-group">
              <label for="endereco">Itens para ser retirado</label>
              <input type="text-area" class="form-control" id="descricao">
              <label for="texto">Escolha uma categoria<a class="cadastro-categoria" data-dismiss="modal"></a>:</label>
              <select class="custom-select" id="inputGroupSelect01">
                <option value="1">Linha Verde</option>
                <option value="2">Linha Marrom</option>
                <option value="3">Linha Azul</option>
                <option value="3">Linha Branca</option>
              </select>
            </div>



            <h5>Envie fotos dos itens para retirada</h5>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Escolher arquivo</label>
              </div>
            </div>


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Enviar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- postagem de descarte-->


    <!--Todos os anúncios dos usuários-->
    <div class="container md-5 mt-2" id="postagens">
      <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab"
            data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
            aria-selected="true">Todas as Postagens</a>

          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab"
            href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
            Postagens</a>


          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab"
            href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por
            Tema</a>


        </div>
      </nav>


      <div class="container md-5 mt-2" id="produto">

        <div class="tab-content mt-5" id="nav-tabContent">



          <div class="tab-pane fade show active" id="todosProdutos" role="tabpanel"
            aria-labelledby="nav-todosProdutos-tab">

            <div class="card-columns">

              <div class="card text-center" *ngFor=' let item of listaPostagens'>
                <div class="card-body">
                  <h5 class="card-title m-0">{{item.titulo}}</h5>
                  <small class="text-muted ">Categoria: {{item.categoria.descricao}}</small>
                  <p class="card-text mt-3">{{item.texto}}</p>

                  <p class="card-text"><small class="text-muted">by: {{item.usuario.nomeCompleto}}</small></p>


                </div>
              </div>

            </div>

          </div>


          <div class="tab-pane fade" id="minhaspostagens" role="tabpanel" aria-labelledby="nav-minhaspostagens-tab">

            <div class="card-columns">

              <div class="card text-center" *ngFor='let item of usuario.postagem'>
                <div class="card-body">
                  <h5 class="card-title m-0">{{item.titulo}}</h5>
                  <small class="text-muted ">Categoria: {{item.categoria.descricao}}</small>
                  <p class="card-text mt-3">{{item.texto}}</p>

                  <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
                  <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>

                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="postagemCategoria" role="tabpanel" aria-labelledby="nav-postagemCategoria-tab">

            <div class="card-columns" *ngFor='let tema of listaCategorias'>

              <div class="card text-center" *ngFor=' let item of categoria.postagem'>
                <div class="card-body">
                  <h5 class="card-title m-0">{{item.titulo}}</h5>
                  <p class="card-text mt-3">{{item.texto}}</p>

                  <p class="card-text"><small class="text-muted">by: {{item.usuario.nomeCompleto}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--produtos do usuario / descarte-->











      <!--cards de todos os produtos/anuncios NOVOS DAS EMPRESAS-->
      <h1 class="text-center mb-5">Produtos sustentáveis de lojas parceiras:</h1>
      <h4>Ganhe desconto aplicando cashback do seu descarte com os ecopontos parceiros</h4>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top"
            src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1444987866"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Microondas</h5>
            <p class="card-text descricao" style=" text-align: justify">Microondas LG Solo 30 Litros Prata MS3095</p>

            <h5 *ngIf="logado()" class="text-center">
              <button type="button" class="btn btn-info" data-toggle='modal' data-target='#comprar'>Comprar</button>
            </h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top"
            src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1791539378"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Lavadora</h5>
            <p class="card-text descricao" style=" text-align: justify">Lavadora de Roupas Electrolux Automática LAC13
              13Kg - Branca</p>

            <h5 *ngIf="logado()" class="text-center">
              <button type="button" class="btn btn-info" data-toggle='modal' data-target='#comprar'>Comprar</button>
            </h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>



        <div class="card">
          <img class="card-img-top"
            src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=3090340"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title mt-3">Microondas</h5>
            <p class="card-text descricao" style=" text-align: justify">Forno de Micro-ondas Electrolux MEF41 Meus
              Favoritos - 31L</p>

            <h5 *ngIf="logado()" class="text-center">
              <button type="button" class="btn btn-info" data-toggle='modal' data-target='#comprar'>Comprar</button>
            </h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top"
            src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1164841210"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title mt-3">Lavadora</h5>
            <p class="card-text descricao" style=" text-align: justify">Lavadora Brastemp BWK12AB Branca - 12Kg</p>

            <h5 *ngIf="logado()" class="text-center">
              <button type="button" class="btn btn-info" data-toggle='modal' data-target='#comprar'>Comprar</button>
            </h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>


        <div class="card">
          <img class="card-img-top"
            src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=93107732"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title mt-3">Fogão</h5>
            <p class="card-text descricao" style=" text-align: justify">Fogão Esmaltec 4 Bocas Ágata 4062 - Branco</p>

            <h5 *ngIf="logado()" class="text-center">
              <button type="button" class="btn btn-info" data-toggle='modal' data-target='#comprar'>Comprar</button>
            </h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>


        <div class="card">
          <img class="card-img-top"
            src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=927458215"
            alt="Imagem de capa do card">
          <div class="card-body">

            <h5 class="card-title mt-3">Geladeira</h5>
            <p class="card-text descricao" style=" text-align: justify">Geladeira Brastemp BRM44HK Frost Free Duplex
              Inox - 375L</p>


            <h5 *ngIf="logado()" class="text-center">
              <button type="button" class="btn btn-info" data-toggle='modal' data-target='#comprar'>Comprar</button>
            </h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>
      </div>
      <!--cards de todos os produtos/anuncios NOVOS DAS EMPRESAS-->
    </div>




    <!-- cards dicas PRONTO-->
    <div class="col-md-12 ">
      <h1 class="display-5 mt-5  text-config text-black card-title">Dicas para diminuir seu consumo de enrgia:</h1>
      <div class="container-fluid ">
        <div class="card-group box">
          <div class="card ">
            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/780/780551.png"
              alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title mt-3 text-black">Nunca deixe os aparelhos elétricos sem uso plugados na tomada
              </h5>
              <p class="card-text text-black" style=" text-align: justify">Pode não parecer, mas o modo stand by
                é um vilão que passa despercebido quando o assunto é gasto de energia.</p>

            </div>
          </div>
          <div class="card ">
            <img class="card-img-top" src="../../assets/img/solar.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title mt-3 text-black">Aproveite a luz do sol e a ventilação natural</h5>
              <p class="card-text text-black" style=" text-align: justify">Segundo pesquisas casas com boa entrada
                natural
                de sol e ventilação demandam menos consumo da energia elétrica</p>


            </div>
          </div>
          <div class="card ">
            <img class="card-img-top" src="../../assets/img/home.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title mt-3 text-black">Prefira eletrodomésticos de baixo consumo de energia elétrica
              </h5>
              <p class="card-text text-black" >Ao comprar um eletrodoméstico prefira os da classe energética A ++ ou A +++, que consomem até 70% menos energia em comparação com os de classe A. </p>


            </div>
          </div>
          <div class="card ">
            <img class="card-img-top" src="../../assets/img/lamp.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title mt-3 text-black">Substitua as lâmpadas convencionais pelas de baixo consumo de
                energia </h5>
              <p class="card-text text-black" style=" text-align: justify">Se na sua casa as lâmpadas ainda são
                incandescentes está na hora de trocá-las.
                Prefira as incandescente ou de LED. Pois, podem gerar uma economia de mais de 30% no consumo de
                energia, além de possuírem maior durabilidade.

              </p>


            </div>
          </div>
          <div class="card ">
            <img class="card-img-top" src="../../assets/img/banho.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title mt-3 text-black">Evite os banhos demorados</h5>
              <p class="card-text text-black" style=" text-align:justify">Apesar de batida, esta é uma dica muito
                importante,
                uma vez que os chuveiros consomem boa parte da energia elétrica da casa.</p>


            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- cards dicas-->


  </div>