/*cards dicas PRONTO*/

.card-title{
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.card-img-top{
    width: 150px !important;
}
.card{
    margin-right: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 25px 0px;
    flex-wrap: wrap;
  
}
.card-text{
    text-align: center;
    color: rgb(0, 0, 0);
}

.text-config{
    color: rgb(0, 0, 0);
    font-weight: bold;
    justify-content: center;
}

.card-group{
  margin-bottom: 42px;
}
/*cards dicas PRONTO*/
