
<div class="bg ">

  
    <div class="container">
        <div class="conteiner">

            <div class="row d-flex align-items-center">

             

                <div class="col-md-7 mt-7 mb-7">

                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 box align-items-center">

                            <h1 class="text-center mt-3 font-login">Entrar</h1>

                    <div class="form-group font">

                        <label for="usuario">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuario">

                    </div>
                    <br>
                    <div class="form-group font">

                        <label for="usuario">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">

                    </div>

                    <div class="d-flex justify-content-center font">
                        <button type="submit" class="btn btn-outline-dark m-20"routerLink='/entrar'>Entrar</button>
                    </div>

                    <div class="mt-5 mb-5">
                    <p class="text-center"> Não tem uma conta?<br> <a routerLink='/cadastrar' class="link-light">Cadastre-se</a> </p>
                    </div>



                </div>


            </div>


        <!--Div lado login-->
        </div>
        <!--Div lado login-->


        <!--Div lado bg-->
        <div class="col-md-6" id="img-bg"></div>
        <!--Div lado bg-->


    <!--Row-1-->
    </div>
    <!--Row-1-->



<!--DIV CONTAINER-->
</div>
<!--DIV CONTAINER-->
