<div class="container-fluid fundo d-flex justify-content-center align-items-center">


    <div class="row d-flex justify-content-center">

        <div class="col-md-12 text-white">
            <h1 class="fs-54">Seja bem-vinde!</h1>
            <p class="fs-18 mt-3">O Lumens foi criado para ser apresentado como Projeto Final de grupo da Turma-43 do
                Curso Bootcamp para Desenvolvedores Web Full Stack Java da ONG Generation Brasil. Com o objetivo de
                apresentar soluções tecnológicas para alcançar a ODS 7 - Energia Acessível e Limpa. Somos um e-Commerce
                focado em ajudar e conscientizar uma parte da população vulnerável economicamente, oferecendo
                informações e suporte para descartes e troca de produtos, de maneira ecológica, em conjunto com empresas
                e pontos ecológicos que visam o desenvolvimento sustentável.</p>
        </div>

        <div class="row">
            <div class="col-md-4 img1"><img src="../../assets/img/leads.gif" alt="" srcset="">
            </div>
            <div class="col-md-8 mt-5 text-white">
                <h4>ODS - 7 - Energia limpa e acessível:</h4>
                <p>Garantir o acesso a fontes de energia fiáveis, sustentáveis e modernas para todos</p>
            </div>
        </div>
    </div>



</div>

<div class="container-fluid">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="../../assets/img/spring2.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/img/java.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um
                    conteúdo adicional.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/img/1200px-Bootstrap_logo.svg.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura
                    igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/img/logo-angular.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura
                    igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>

    </div>
</div>

<div class="row d-flex justify-content-center">

    <div class="row">
        <div class="col-md-5 img1"> <iframe width="560" height="315"
                src="https://www.youtube.com/embed/wmlHYLp7eAQ?start=137" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-7 mt-5 ml-5">
            <h4>Desigualdade e falta de informação por parte da população</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro repellendus officiis, facere recusandae
                optio ducimus iste. Repellendus inventore explicabo ut reiciendis vero, rerum error assumenda et dolor
                neque sapiente nisi!</p>
        </div>
    </div>
</div>

<div class="container">
    <h5>Equipe</h5>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="../../assets/img/erika.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/img/giu.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um
                    conteúdo adicional.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/img/jessica.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura
                    igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/img/joao.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura
                    igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/img/yago.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura
                    igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>

    </div>

</div>