<div class="container-fluid fundo1 d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center">



        <!--fluid jumbotron-->
        <div class="jumbotron jumbotron-fluid bg-jubmbtron margem">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mt-4 ">
                        <img width="220px" src="../../assets/img/LUMENS.png" alt="lumens">
                    </div>

                    <div class="col-md-8">
                        <h1 class="display-5 text-dark mt-3">Sobre Nós</h1>
                        <p class="fs-18 mt-3 text-dark " style=" text-align: justify">O Lumens foi criado para ser
                            apresentado como Projeto Final de grupo da Turma-43 do
                            Curso Bootcamp para Desenvolvedores Web Full Stack Java da ONG Generation Brasil. Com o
                            objetivo de
                            apresentar soluções tecnológicas para alcançar a ODS 7 - Energia Acessível e Limpa. Somos um
                            e-Commerce
                            focado em ajudar e conscientizar uma parte da população vulnerável economicamente,
                            oferecendo
                            informações e suporte para descartes e troca de produtos, de maneira ecológica, em conjunto
                            com empresas
                            e pontos ecológicos que visam o desenvolvimento sustentável.</p>
                    </div>
                </div>
            </div>
            <!--fluid jumbotron-->
        </div>
        

        <div class="container-fluid fundo d-flex justify-content-center align-items-center ">
            <div class="row d-flex justify-content-center col-md-10">

                <div class="row d-flex align-items-center">

                    <div class="col-md-6 mt-5 mb-5 text-white">
                        <h5 class="display-5 text-light mt-3"> Sobre a ODS - 7:</h5>
                        <h5>Objetivos e Metas</h5>
                        <p style=" text-align: justify">7.1 Até 2030, assegurar o acesso universal, confiável, moderno e
                            a preços acessíveis a serviços de energia;<br>

                            7.2 Até 2030, aumentar substancialmente a participação de energias renováveis na matriz
                            energética global;<br>

                            7.3 Até 2030, dobrar a taxa global de melhoria da eficiência energética;<br>

                            7.a Até 2030, reforçar a cooperação internacional para facilitar o acesso a pesquisa e
                            tecnologias de energia limpa, incluindo energias renováveis, eficiência energética e
                            tecnologias de combustíveis fósseis avançadas e mais limpas, e promover o investimento em
                            infraestrutura de energia e em tecnologias de energia limpa;<br>

                            7.b Até 2030, expandir a infraestrutura e modernizar a tecnologia para o fornecimento de
                            serviços de energia modernos e sustentáveis para todos nos países em desenvolvimento,
                            particularmente nos países menos desenvolvidos, nos pequenos Estados insulares em
                            desenvolvimento e nos países em desenvolvimento sem litoral, de acordo com seus respectivos
                            programas de apoio; </p>
                    </div>

                    <div class="col-md-6 img1 d-flex justify-content-center "><img class="ods7" src="../../assets/img/leads.gif"
                            alt="" srcset="">
                    </div>
                </div>
            </div>

        </div>




        <!--carousel de imagens 3d-->
        <div class="container-fluid fundo2 d-flex justify-content-center align-items-center ">
            <div class="row d-flex justify-content-center col-md-10">

                <div class="row d-flex align-items-center">

                        <div class="col-md-5 mt-5 mb-5 ">
                            <h4>Desigualdade e falta de informação por parte da população</h4>
                            <p style=" text-align: justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro repellendus officiis, facere
                                recusandae
                                optio ducimus iste. Repellendus inventore explicabo ut reiciendis vero, rerum error assumenda et
                                dolor
                                neque sapiente nisi!</p>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugit consequatur illo autem minima, quo quos, rem maxime a deleniti recusandae animi culpa tempora placeat, praesentium perferendis assumenda quaerat sequi.
                                </p>
                        </div>

                    <div class="col-md-6 d-flex justify-content-center ods7 "><img width="500px" src="https://codeconvey.com/wp-content/uploads/2021/02/pure-css-coverflow-slider.png"
                            alt="" srcset="">
                    </div>
                </div>
            </div>

        </div>
      

     <!--CARDS-->
     <div class="col-md-10">
        <h1 class="display-5 mt-5 text-config card-title">Ferramentas Usadas</h1>
        <div class="container-fluid ">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/spring2.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title mt-3">SpringBoot</h5>
                        <p class="card-text" style=" text-align: justify">É um framework desenvolvido para a plataforma Java baseado nos padrões de projetos (Design Patterns), inversão de controle e injeção de dependência.É constituído por diversos e completos módulos capazes de dar um boost na aplicação Java.</p>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/java.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title mt-3">Java</h5>
                        <p class="card-text" style=" text-align: justify">Java é um tipo de linguagem de programação criada e comercializada pela Sun Microsystems desde 1995. É definida como uma linguagem orientada a objetos. Sua intenção é permitir que os desenvolvedores escrevam o programa apenas uma vez e o executem por meio de qualquer dispositivo.</p>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top mt-3" src="../../assets/img/1200px-Bootstrap_logo.svg.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title mt-4">Bootstrap</h5>
                        <p class="card-text" style=" text-align: justify">É um framework front-end que fornece estruturas de CSS para a criação de sites e aplicações responsivas de forma rápida e simples. Além disso, pode lidar com sites de desktop e páginas de dispositivos móveis da mesma forma.</p>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/logo-angular.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Angular</h5>
                        <p class="card-text" style=" text-align: justify">Angular é uma plataforma e framework para construção da interface de aplicações usando HTML, CSS e, principalmente, JavaScript, criada pelos desenvolvedores da Google.</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--CARDS-->    
        
    <!--CARDS EQUIPE-->
    
               
                <div id="name-equipe" class="row d-flex justify-content-around mt-4">
                    <div class="col-md-12 name-equipe">
                      <div class="row" id="bg-cards card">
                        <h3 class="text-center mb-4 mt-3 text-equipe">
                          <a name="name-equipe"></a>Nossa Equipe:
                        </h3>
                      
                        <div class="col-md-12 d-flex justify-content-center wrap">
              
                          <div class="Membro3 mx-3">
                            <div class="overlay">
                              <div class="about d-flex flex-column">
                                <h4>Jessica Sousa</h4>
                                <h6>Scrum Master</h6>
                          
                               
                              </div>
                              <ul class="tm-social">
                                <li>
                                  <a href="" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                
                          <div class="Membro4 mx-3">
                            <div class="overlay">
                              <div class="about d-flex flex-column">
                                <h4>Yago Coelho</h4>
                                <h6>Product Owner</h6>
                              </div>
                              <ul class="tm-social">
                                <li>
                                  <a href="https://github.com/Yagocoelho" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="https://www.linkedin.com/in/yagoscoelho/" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                
                          <div class="Membro1 mx-3">
                            <div class="overlay ">
                              <div class="about d-flex flex-column">
                                <h4>Erika Yamamoto</h4>
                                <h6>Dev Team</h6>
          
                              </div>
                              <ul class="tm-social">
                                <li>
                                  <a href="https://github.com/esyamamoto" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="https://www.linkedin.com/in/erikasyamamoto/" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                
                          <div class="Membro2 mx-3">
                            <div class="overlay">
                              <div class="about d-flex flex-column">
                                <h4>Giuliana Tamie</h4>
                                <h6>Dev Team</h6>
                              </div>
                              <ul class="tm-social">
                                <li>
                                  <a href="https://github.com/gtamie" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="https://www.linkedin.com/in/giuliana-tamie-sumida-50bb11215/" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>

                          
                          <div class="Membro5 mx-3">
                            <div class="overlay">
                              <div class="about d-flex flex-column">
                                <h4>João Lucas</h4>
                                <h6>Dev Team</h6>
                              </div>
                              <ul class="tm-social">
                                <li>
                                  <a href="" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
     <!--CARDS EQUIPE-->
        